body
{
    height: 100%;
    width: 100%;
}

/* body .header
{
    height: 100px;
    width: 100%;
} */

body .card
{
    width: 80%;
    margin: auto;
}

body .front
{
    background-image: url("../img/HANS_1.png");
    height: 970px;
    background-position: center center;
    margin: 0 auto;
    width: 90%;
    background-size: 190% 100%;
    background-repeat: no-repeat;
    border-radius: 5rem;
}

/* body .front .velikiVideo
{
    position: absolute;
    border: 4px solid yellow;
    height: 100px;
    width: 1000px;
    margin: 10px 10px;
} */

body .opcije
{
    width: 95%;
    height: 90px;
	
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
  	
    margin: auto;
    margin-bottom: -80px;
    
    /* display: grid;
    grid-template-columns: 50% 50%; */
}

.video
{
    right: 0;
    bottom: 0;
    width: 360px;
    height: 80px;
    object-fit: fill;
    padding: 5px 0;
    border-radius: 3rem;
}

#myVideo2
{
    margin-right: -5px;
}

.opcije label
{
    cursor: pointer;
}

.opcije label input[type='checkbox']
{
    display: none;
}

.opcije label span
{
    position: relative;
    padding: 2px 2px;
    opacity: 0.3;
}

.maliVideo1
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid yellow; */
    margin: 452px 105px;
}

.maliVideo2
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid red; */
    margin: 452px 346px;
}

.maliVideo3
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid yellow; */
    margin: 626px 105px;
}

.maliVideo4
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid red; */
    margin: 626px 346px;
}

.maliVideo5
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid yellow; */
    margin: 800px 105px;
}

.maliVideo6
{
    position: absolute;
    height: 24px;
    width: 235px;
    /* border: 3px solid red; */
    margin: 800px 346px;
}

#izbor
{
    position: absolute;
    bottom: 0;
	left: 0;
    right: 0;
    top: 0;
    display: none;

    height: 200px;
    width: 200px;
  	text-align: center;
    margin: auto;
    background-color: rosybrown;
}

.videoMali
{
    right: 0;
    bottom: 0;
    height: 24px;
    width: 235px;
    object-fit: fill;
}